<md-dialog aria-label="Metrics List">
  <md-content>
    <md-list>
      <md-item ng-repeat="metric in metricsWrapper">
        <div layout="row" layout-margin class="md-whiteframe-z1 svm-list-item">
          <div flex>{{ metric.metricId }}</div>
          <div flex"10">
            <md-checkbox ng-model="metric.inChart" aria-label="add/remove to Chart"></md-checkbox>
          </div>
        </div>
      </md-item>
    </md-list>
  </md-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancel()">
      Cancel
    </md-button>
    <md-button ng-click="ok(metricsWrapper)" class="md-primary">
      Ok
    </md-button>
  </div>
</md-dialog>
