<md-subheader class="md-primary">{{meter.metricId}} (Meter)</md-subheader>

<div layout="row" layout-margin layout-padding>
	<i>count:</i> {{meter.value.count}}
</div>

<div layout="row" layout-padding layout-wrap>
<md-whiteframe class="md-whiteframe-1dp" flex="98" layout layout-align="center center" layout-margin>
	<table class="mx-values-table">
		<thead>
			<tr>
				<th></th>
				<th>1 minute</th>
				<th>5 minute</th>
				<th>15 minute</th>
				<th>mean</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Rate <span ng-if="meter.value.rate_units">({{meter.value.rate_units}})</span></th>
				<td>{{meter.value.m1_rate|number:3}}</td>
				<td>{{meter.value.m5_rate|number:3}}</td>
				<td>{{meter.value.m15_rate|number:3}}</td>
				<td>{{meter.value.mean_rate|number:3}}</td>
			</tr>
		</tbody>
	</table>
</md-whiteframe>
</div>

<div layout="row" layout-margin>
	<div class="mx-gauge-timeline" flex>
		<svm-chart config="meter.chart"></svm-chart>
	</div>
</div>
