.menu-item {
  background: none;
  border-width: 0;
  cursor: pointer;
  display: block;
  color: #333;
  font-size: inherit;
  line-height: 40px;
  max-height: 40px;
  opacity: 1;
  margin: 0;
  outline: none;
  padding: 0px 28px;
  position: relative;
  text-align: left;
  text-decoration: none;
  z-index: 1;
  -webkit-transition: 0.2s ease-in-out;
  -webkit-transition-property: max-height, background-color, opacity;
  -moz-transition: 0.2s ease-in-out;
  -moz-transition-property: max-height, background-color, opacity;
  transition: 0.2s ease-in-out;
  transition-property: max-height, background-color, opacity;
}
.menu-item.ng-hide {
  max-height: 0;
  opacity: 0;
}
.menu-item:hover, .menu-item:focus {
  color: #999;
}
.menu-item.menu-sub-item.active {
  background-color: #eeeeee;
  font-weight: bold;
  color: #4285f4;
}
.menu-item.menu-title {
  color: #888;
  font-size: 16px;
  padding-left: 16px;
  text-align: left;
  text-transform: uppercase;
}
.menu-item.menu-title.active {
  font-weight: bold;
}
.menu-item.menu-title:hover,
.menu-item.menu-title:focus {
  color: #AAA;
}

.menu-icon {
  background: none;
  border: none;
}

/* -------------------------- */

.alerts-error{
  background-color: #FF8888;
}

.alerts-warning{
  background-color: #EFEC0B;
}

.alerts-info{
  background-color: #A9C5EF;
}

.svm-form-row{
  padding:5px 20px 5px 20px
}

.svm-list-item{
  margin:10px 10px 10px 10px;
  padding-left:20px;
  padding-right:20px
}

.svm-list-item .md-tile-content{
  padding-left:40px
}

.svm-actions .md-button{
  margin: 1em
}

/* -------- view/metrics  -----*/

#metrics-view-container {
  width: 100%; 
}
repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  padding-top: 10px; 
} 
#metrics-view{
  margin: 16px; 
}
#metrics-view md-virtual-repeat-container {
  border: solid 1px grey; 
}
#metrics-view md-virtual-repeat-container .md-virtual-repeat-offsetter {
  padding-left: 16px; 
}

.mx-type-tag{
  border-radius: 3px;
  padding: 2px;
  box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.12) inset;
  background-color: #E5D5F0;
  font-size: 11px
}

.gauge-type-tag{
  @extend .mx-type-tag;
  background-color: #E5E5D5;
}
.counter-type-tag{
  @extend .mx-type-tag;
  background-color: #A5E5D5;
}
.histogram-type-tag{
  @extend .mx-type-tag;
  background-color: #E5E5A5;
}
.meter-type-tag{
  @extend .mx-type-tag;
  background-color: #D5E5E5;
}
.timer-type-tag{
  @extend .mx-type-tag;
  background-color: #E5D5E5;
}