<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="../bower_components/traceur/traceur.js"></script>
  <script src="../bower_components/es6-module-loader/dist/es6-module-loader.js"></script>
  <script src="../bower_components/hammerjs/hammer.min.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../bower_components/angular-aria/angular-aria.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/angular-material/angular-material.js"></script>
  <link rel='stylesheet' href='../bower_components/angular-material/angular-material.css' type='text/css'/>

  <script src="../bower_components/d3/d3.js"></script>
  <script src="../bower_components/nvd3/nv.d3.js"></script>
  <link rel="stylesheet" href="../bower_components/nvd3/nv.d3.css"/>

  <link rel="stylesheet" href="app.css"/>

  <script>

    //System.baseURL = '.';
    System.traceurOptions={
      //annotations: true,
      sourceMaps: true
    };

    System.import('app').then(function(app) {
      angular.element(document).ready(function() {
        angular.bootstrap(document, ['sv-metrics']);
      });
    });

  </script>
</head>
<body layout="horizontal" ng-controller="MainCtrl">
  <md-sidenav component-id="side-nav" class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="showSideNav">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <a ng-click="toggleSideNav()"><md-icon icon="img/icons/ic_arrow_back_24px.svg"></md-icon></a>
        </div>
      </md-toolbar>
      <div>
      <md-content flex>
        <button class="menu-item menu-title" ng-class="{active: menu.isSectionSelected(section)}" ink-ripple>
          View
        </button>

        <a class="menu-item menu-sub-item" ng-repeat="d in configuration.dashboards" ng-class="{active: menu.isSectionSelected(section)}" ng-href="#/view/dashboard/{{$index}}">
          {{d.name}}
        </a>

        <button class="menu-item menu-title" ng-class="{active: menu.isSectionSelected(section)}" ink-ripple>
          Configure
        </button>
        <a class="menu-item menu-sub-item" ng-class="{active: menu.isSectionSelected(section)}" ng-click="$location.url('configure')">
          General
        </a>
        <a class="menu-item menu-sub-item" ng-class="{active: menu.isSectionSelected(section)}" ng-href="#/configure/dashboards">
          Dashboards
        </a>
        <a class="menu-item menu-sub-item" ng-class="{active: menu.isSectionSelected(section)}" ng-href="#/configure/charts">
          Charts
        </a>
        <a class="menu-item menu-sub-item" ng-class="{active: menu.isSectionSelected(section)}" ng-href="#/configure/metrics">
          Metrics
        </a>
    </md-content>
  </div>
  </md-sidenav>
  <md-content flex>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <a ng-click="toggleSideNav()" ng-show="!showSideNav"><md-icon icon="img/icons/ic_menu_24px.svg"></md-icon></a>
        &nbsp;sv-metrics
      </div>
    </md-toolbar>
    <div ng-view></div>
  </md-content>

</body>
</html>
