<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <link rel="shortcut icon" href="svm.png" />

  <!-- <script src="../bower_components/traceur/traceur.js"></script> -->
  <!-- <script src="../bower_components/es6-module-loader/dist/es6-module-loader-dev.js"></script> -->
  <script src="../node_modules/systemjs/dist/system.js"></script>
  <script src="../node_modules/angular/angular.js"></script>
  <script src="../node_modules/angular-animate/angular-animate.js"></script>
  <script src="../node_modules/angular-aria/angular-aria.js"></script>
  <script src="../node_modules/angular-route/angular-route.js"></script>
  <script src="../node_modules/angular-material/angular-material.js"></script>
  <link rel='stylesheet' href='../node_modules/angular-material/angular-material.css' type='text/css'/>

  <script src="../node_modules/d3/d3.js"></script>
  <script src="../node_modules/nvd3/build/nv.d3.js"></script>
  <link rel="stylesheet" href="../node_modules/nvd3/build/nv.d3.css"/>

  <link rel="stylesheet" href="../dist/app.css"/>


  <script>

    //System.transpiler= "traceur";

    /*System.traceurOptions={
      //annotations: true,
      sourceMaps: true
    };*/

    System.config({
        baseURL: '../dist'
    });

    System.paths={
      '*': '*.js'
    };

    System.import('app').then(function(app) {
      angular.element(document).ready(function() {
        angular.bootstrap(document, ['sv-metrics']);
      });
    });

  </script>
</head>
<body layout="horizontal" ng-controller="MainCtrl">
  <md-sidenav component-id="side-nav" class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="showSideNav">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <a ng-click="toggleSideNav()"><md-icon md-svg-src="img/icons/ic_arrow_back_24px.svg"></md-icon></a>
        </div>
      </md-toolbar>
      <div>
      <md-content flex>
        <button class="menu-item menu-title" ng-class="{active: menu.isSectionSelected(section)}" ng-click="$location.url('view')">
          View
        </button>

        <a class="menu-item menu-sub-item" ng-repeat="d in configuration.dashboards" ng-class="{active: menu.isSectionSelected(section)}" ng-href="#/view/dashboard/{{$index}}">
          {{d.name}}
        </a>

        <a class="menu-item menu-title" ng-class="{active: menu.isSectionSelected(section)}"  ng-href="#/view/metrics">
          Metrics
        </a>
        <button class="menu-item menu-title" ng-class="{active: menu.isSectionSelected(section)}" ng-click="$location.url('configure')">
          Configure
        </button>
        <a class="menu-item menu-sub-item" ng-class="{active: menu.isSectionSelected(section)}" ng-click="$location.url('configure')">
          General
        </a>
        <a class="menu-item menu-sub-item" ng-class="{active: menu.isSectionSelected(section)}" ng-href="#/configure/dashboards">
          Dashboards
        </a>
        <a class="menu-item menu-sub-item" ng-class="{active: menu.isSectionSelected(section)}" ng-href="#/configure/charts">
          Charts
        </a>
        <a class="menu-item menu-sub-item" ng-class="{active: menu.isSectionSelected(section)}" ng-href="#/configure/metrics">
          Metrics
        </a>
    </md-content>
  </div>
  </md-sidenav>
  <md-content flex layout="column">
    <ng-include src="'toolbar/toolbar.html'"></ng-include>
    <div ng-view flex layout="column"></div>
  </md-content>

</body>
</html>
