<md-subheader class="md-primary">Dashboards Configuration</md-subheader>
<md-list>
  <md-item ng-repeat="dash in configuration.dashboards">
    <md-item-content class="md-whiteframe-z1 svm-list-item">
      <div class="md-tile-left">{{dash.name}}</div>
      <div class="md-tile-content">
          {{dash.desc}}
      </div>
      <md-button href="#/configure/dashboards/{{$index}}">
        <md-icon md-svg-src="img/icons/ic_settings_24px.svg"></md-icon>
      </md-button>
      <md-button ng-click="remove($index)">
        <md-icon md-svg-src="img/icons/ic_delete_24px.svg"></md-icon>
      </md-button>
    </md-item-content>
  </md-item>
</md-list>
<md-button ng-click="add()" class="md-primary md-fab md-fab-bottom-right">
  <md-icon md-svg-src="img/icons/ic_add_24px.svg"></md-icon>
</md-button>
