<md-subheader class="md-primary">Chart</md-subheader>

<md-content>
<div class="row">
  <form style="padding:20px">
    <md-input-container flex>
      <label>Name</label>
      <input  ng-model="chart.name">
    </md-input-container>
    <md-input-container flex>
      <label>Description</label>
      <input ng-model="chart.desc">
    </md-input-container>
    <p style="font-size: 0.8em;color: #777;margin-bottom:0">Size (height x width):</p>
    <div layout="row">
        <md-select ng-model="chart.height">
          <md-option value="2">2</md-option>
          <md-option value="4">4</md-option>
        </md-select>
        <md-select ng-model="chart.width">
          <md-option value="2">2</md-option>
          <md-option value="3">3</md-option>
          <md-option value="3">4</md-option>
          <md-option value="6">6</md-option>
        </md-select>
    </div>
  </form>
</div>
</md-content>

<md-subheader class="md-primary">Series</md-subheader>

<md-content style="padding:10px">
  <md-list>
    <md-item ng-repeat="series in chart.series">
      <md-item-content class="md-whiteframe-z1 svm-list-item">
        <div class="md-tile-left"><md-text-float label="Name" ng-model="series.name"></div>
        <div class="md-tile-content">
          {{series.metricId}}
        </div>
        <md-button ng-click="removeMetric(metrics)">
          <md-icon md-svg-src="img/icons/ic_delete_24px.svg"></md-icon>
        </md-button>
      </md-item-content>
    </md-item>
  </md-list>
</md-content>
<md-content>
<div layout="row" class="svm-actions">
  <md-button ng-click="cancel()" class="md-raised">
    Cancel
  </md-button>
  <md-button ng-click="ok()" class="md-raised md-primary">
    Ok
  </md-button>
</div>
</md-content>
<md-button ng-click="addMetrics($event)" class="md-primary md-fab md-fab-bottom-right">
  <md-icon md-svg-src="img/icons/ic_add_24px.svg"></md-icon>
</md-button>
