<md-subheader class="md-primary">Global Configuration</md-subheader>
<form name="form">
 <div class="svm-form-row" layout="horizontal">
    <div flex="10">
        <span>Update Interval</span>
    </div>
    <md-slider flex ng-model="configuration.metricsInterval" min="1" max="30"
        aria-label="Update Interval" id="update-interval-slider">
    </md-slider>
    <div flex="10" layout layout-align="center center">
        <input type="number" ng-model="configuration.metricsInterval"
            min="0" max="30"
            aria-label="update interval" aria-controls="update-interval-slider">
    </div>
 </div>
 <div class="svm-form-row" layout="horizontal">
  <md-input-container>
    <label>Metrics URL</label>
    <input ng-model="configuration.metricsUrl">
  </md-input-container>
 </div>
 <div class="svm-form-row" layout="horizontal">
  <md-select ng-model="configuration.saveOn" placeholder="Save on ...">
    <md-option value="{{SAVE_ON_FLAG.NEVER}}">Never save automaticaly</md-option>
    <md-option value="{{SAVE_ON_FLAG.ON_MODIFICATION}}">Save on Modfication</md-option>
    <md-option value="{{SAVE_ON_FLAG.ON_EXIT}}">Save on Exit</md-option>
  </md-select>
 </div>
 <div class="svm-actions" layout="row">
    <md-button ng-click="save()" class="md-raised md-primary">
      Save
    </md-button>
    <md-button ng-click="restore()" class="md-raised">
      Restore
    </md-button>
    <md-button ng-click="default()" class="md-raised">
      Restore Default
    </md-button>
 </div>
 <div class="svm-form-row" layout="horizontal"><span class="md-caption">last saved: {{configuration.saved?configuration.saved:'-'}}</span></div>
</form>
