<md-subheader class="md-primary">Charts Configuration</md-subheader>
<md-list>
  <md-item ng-repeat="chart in charts">
    <div  layout="row" layout-margin class="md-whiteframe-z1 svm-list-item">
      <div flex="5"><md-icon md-svg-icon="img/icons/chart.svg"></md-icon></div>
      <div flex="20">{{chart.name}}</div>
      <div flex class="md-caption" style="padding-top: 10px;">
          {{chartTypeInfos[chart.type].name}}
      </div>
      <div flex="5">
        <a href="#/configure/charts/{{$index}}"><md-icon md-svg-src="img/icons/ic_settings_24px.svg"></md-icon></a>
        <md-icon ng-click="remove($index)" md-svg-src="img/icons/ic_delete_24px.svg"></md-icon>
      </div>
    </div>
  </md-item>
</md-list>
<md-button ng-click="add()" class="md-primary md-fab md-fab-bottom-right">
  <md-icon md-svg-src="img/icons/ic_add_24px.svg"></md-icon>
</md-button>
