<md-tabs md-selected="selectedIndex" class="md-accent">
  <md-tab label="Charts">
    <div>
      <div ng-repeat="chart in charts" layout style="float:left;margin:5px">
        <md-whiteframe class="md-whiteframe-z2" ng-style="chart.style">
          <div><b>{{chart.name}}</b></div>
          <svm-chart config="chart"></svm-chart>
        </md-whiteframe>
      </div>
    </div>
  </md-tab>
  <md-tab label="Metrics">
      <md-list>
        <md-item ng-repeat="metric in registry.metrics">
          <div class="md-tile-content">
            {{metric.id}} {{registry.getValue(metric.id).value}}
          </div>
        </md-item>
      <md-list>
  </md-tab>
  <md-tab label="Alerts">
      <md-content>
        <ng-include src="'dashboard/alerts.html'"></ng-include>
      </md-content>
  </md-tab>
</md-tabs>